.profile-content{
    .main-card-full{
        width: 100% !important;
    }

    .profile-mini-cards{
        padding: 5px 0;
    }
    @media (min-width: 800px) {
        .profile-mini-cards{
            width: 100%; 
        }
        
    }
    @media (min-width: 1057px) {
        .profile-mini-cards{
            width: 39%; 
        }
        
    }
    @media (max-width: 1140px) {
        .two-main-card{
            width: 100%;
        }
        .very-large-wrap{
            flex-wrap: wrap;
        }
    }
    @media (min-width: 1250px) {
        .profile-mini-cards{
            width: 33%; 
        }
        
    }


}    









// .profile-content{
//     .toggle-animation{
//         animation: toggle-rl .3s linear forwards;
//         -webkit-animation: toggle-rl .3s linear forwards;
//     }
//     .rv-toggle-animation{
//         animation: toggle-lr .3s linear forwards ;
//         -webkit-animation: toggle-lr .3s linear forwards ;
// }
// }




// @keyframes toggle-rl {
//     0%{
//         right: 4px;
//     }
//     100%{
//         right: 52px;
//     }
   
// }
// @keyframes toggle-lr {
//     0%{
//         right: 52px;
//     }
//     100%{
//         right: 4px;
//     }
   
// }